.main-list {
  width: 100%;
  /* padding: 36px 24px;
      font-family: var(--lato);
      height: 100vh; */
}
.main-list .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.main-list .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-list .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--PFM-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .main-list .head-title {
    margin-left: 1.5em;
  }
}
