:root {
  --PFM-primary: #609966;
  --PFM-primary-dark: rgb(0, 104, 74);
  --PFM-secondary: #c4d7b2;
  --PFM-bg-primary-color: #609966c9;
  --PFM-card-bg-color: #aeddae;
  --PFM-tag-color: #86e590;
  --PFM-font-color: #212529;
  --PFM-main-bg-color: #e1ecc8;
  --PFM-main-bg-color-light: #fbfff1;
  --PFM-header-color: #40513b;
  --PFM-header-color-dark: #001e2b;
  --PFM-backdrop-bg-shadow: #e1ecc87d;
  --PFM-light-yellow-color: #ffc85c;
  --PFM-light-orange-color: #ac4425;
  --PFM-pink-color: #ff508e;
  --orange: 0, 100, 0;
  --orange-light: rgba(var(--orange), 4);
}
[data-theme="dark"] {
  /* --PFM-main-bg-color: #212529; --PFM-secondary: #282c34; OLD Dark mode theme color  */
  --PFM-main-bg-color: #02182f;
  --PFM-secondary: #19243b;

  --PFM-main-bg-color-light: #212529;
  /* --PFM-primary: #212229; */
  --PFM-primary-dark: #609966;
  --PFM-bg-primary-color: "#609966c9";
  --PFM-card-bg-color: "#aeddae";
  --PFM-header-color: #b6bdca;
  --PFM-header-color-dark: #f7ffe5;
  --PFM-font-color: #f7ffe5;
  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #565c64;
  --base05: #abb2bf;
  --base06: #b6bdca;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
}
body {
  font-size: 1rem;
  line-height: 1.3;
  font-family: "Manrope", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  /* font-family: "Poppins", "sans-sarif"; */
  background-color: var(--PFM-main-bg-color);
  color: var(--PFM-font-color);

  /* transition: 0.3s ease; */
}

body a {
  text-decoration: none;
  color: var(--PFM-font-color);
}

body ul {
  list-style: none;
}

/*
    Containers css..
*/

.container {
  width: 100%;
  /* height: 100vh; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 475px) {
  .container {
    width: 475px;
  }
}

@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}

@media screen and (max-width: 640px) {
  html {
    width: auto;
  }
}

.header-color {
  color: var(--PFM-header-color);
}
.light-orage-color {
  color: var(--PFM-light-orange-color) !important;
}
.light-yellow-color {
  color: var(--PFM-light-yellow-color) !important;
}
.light-green-color {
  color: var(--PFM-primary) !important;
}
.light-green-bg-color {
  background-color: var(--PFM-secondary) !important;
}
.light-color-bg {
  background-color: var(--PFM-backdrop-bg-shadow);
}
.p-color {
  color: var(--PFM-header-color) !important;
}
.card-bg-color {
  background-color: var(--PFM-card-bg-color) !important;
}
.header-color-dark {
  color: var(--PFM-header-color-dark) !important;
}

/*
    Common button css design...
*/

.btn {
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 8px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:focus,
.btn.focus {
  outline: 0;
}

.btn-light {
  background: #ededed;
  color: #000;
  border-radius: 10px;
}

.btn-light:hover {
  background: #dbdbdb;
  color: #000;
}

.btn-primary {
  background: var(--PFM-primary);
  color: #ffffff;
  border-radius: 10px;
}

.btn-large {
  font-weight: bold;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 24px;
  font-size: 24px;
  background-color: var(--PFM-primary-dark);
  color: white;
  letter-spacing: 1px;
  padding: 8px 40px !important;
}
.btn-large:hover {
  background-color: var(--PFM-primary);
}

.btn-primary:hover {
  background: var(--PFM-header-color);
  color: #ffffff;
}
.btn-danger {
  background: var(--PFM-light-orange-color);
  color: #ffffff;
  border-radius: 10px;
}
.btn-danger:hover {
  background: var(--PFM-light-yellow-color);
  color: #000;
}
.btn-icon {
  padding: 0.5rem;
  font-weight: bolder;
  cursor: pointer;
  /* font-size: 2.3rem; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon:hover {
  color: var(--PFM-primary);
  background-color: var(--PFM-secondary);
}
.color-primary {
  color: var(--PFM-primary);
}
.color-primary-dark {
  color: var(--PFM-primary-dark);
}
.color-danger {
  color: var(--PFM-light-orange-color);
}
.color-black {
  color: #000;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/*
    COmmon form css..
*/

input[type="text"],
input[type="password"],
textarea {
  font-size: 18px;
  padding: 10px 10px 10px 8px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 10px;
  border: 1px solid transparent;
}
input[type="text"],
input[type="password"] {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
input.error {
  border: 2px solid var(--PFM-light-orange-color) !important;
}
input[type="text"]:hover {
  border: 1px solid transparent;
}
input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid transparent;
}
input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -5px;
  font-size: 12px;
  color: #000;
  left: 11px;
}
input[type="text"]:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

input[type="radio"] {
  accent-color: var(--PFM-primary);
  -ms-transform: scale(1.8); /* IE 9 */
  -webkit-transform: scale(1.8); /* Chrome, Safari, Opera */
  transform: scale(1.8);
  cursor: pointer;
}

th,
td {
  display: table-cell !important;
}

/*
    Margin common class
*/

.mr-1 {
  margin-right: 8px;
}
.ml-1 {
  margin-left: 8px;
}
.ml-2 {
  margin-left: 16px;
}
.ml-3 {
  margin-left: 24px;
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}

.o-1 {
  opacity: 0.25px;
}
.o-2 {
  opacity: 0.5px;
}

.flex-d {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.active-link {
  /* color: var(--PFM-light-orange-color) !important; */
  color: var(--PFM-primary-dark) !important;
  background-color: var(--PFM-main-bg-color);
  border-radius: 10px;
}
.active-link:hover {
  color: var(--PFM-font-color) !important;
}

.add {
  padding: 0.5rem;
  font-weight: bolder;
  cursor: pointer;
  /* font-size: 2.3rem; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add:hover {
  color: var(--PFM-primary);
  background-color: var(--PFM-secondary);
}
.round {
  background-color: var(--PFM-primary-dark);
  color: var(--PFM-main-bg-color);
  padding: 0.5rem;
  margin: 0.5em;
  width: 40px;
  top: 0px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}
.round:hover {
  border-radius: 50% !important;
  color: var(--PFM-primary-dark) !important;
}
.hr {
  background-color: var(--PFM-font-color);
  border: 0;
  height: 1px;
  opacity: 0.5;
}
.info {
  width: calc(100% - 20px);
  padding: 1rem;
  background-color: var(--PFM-secondary);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 10px solid var(--PFM-primary);
}
.info .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info .bi {
  font-size: 2rem;
  margin-right: 0.3em;
}

.debit {
  display: block;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--PFM-light-yellow-color);
  color: #000;
  border-radius: 10px;
}
.debit::before {
  content: "-";
  margin-right: 0.2em;
}
.credit {
  display: block;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--PFM-tag-color);
  color: #000;
  border-radius: 10px;
}

.credit::before {
  content: "+";
  margin-right: 0.2em;
}

/*
    Modal css...
*/
.modal-bottom-action-info {
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.modal-bottom-action {
  /* position: sticky; */
  /* bottom: 0; */
  position: absolute !important;
  bottom: 60px;
  right: 0px;
  border-top: 1px solid var(--PFM-main-bg-color);
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.modal-action-group {
  margin: 0.5em;
}
.login-svg path {
  fill: red !important;
}
