:root {
  --PFM-primary: #609966;
  --PFM-secondary: #c4d7b2;
  --PFM-font-color: #212529;
  --PFM-main-bg-color: #e1ecc8;
  --PFM-header-color: #40513b;
  --PFM-backdrop-bg-shadow: #e1ecc87d;
  --PFM-light-yellow-color: #ffc85c;
  --PFM-light-orange-color: #ac4425;
  --orange: 0, 100, 0;
  --orange-light: rgba(var(--orange), 4);
}
[data-theme="dark"] {
  --PFM-main-bg-color: #212529;
  /* --PFM-primary: #212229; */
  --PFM-secondary: #282c34;
  --PFM-header-color: #b6bdca;
  --PFM-font-color: #f7ffe5;

  --base00: #282c34;
  --base01: #353b45;
  --base02: #3e4451;
  --base03: #868e96;
  --base04: #565c64;
  --base05: #abb2bf;
  --base06: #b6bdca;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.3;
  font-family: "Poppins", "sans-sarif";
  background-color: var(--PFM-main-bg-color);
  color: var(--PFM-font-color);

  /* transition: 0.3s ease; */
}

body a {
  text-decoration: none;
  color: var(--PFM-font-color);
}

body ul {
  list-style: none;
}

/*
    Containers css..
*/

.container {
  width: 100%;
  /* height: 100vh; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 475px) {
  .container {
    width: 475px;
  }
}

@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}

.header-color {
  color: var(--PFM-header-color);
}
.light-orage-color {
  color: var(--PFM-light-orange-color) !important;
}
.light-yellow-color {
  color: var(--PFM-light-yellow-color) !important;
}
.light-green-color {
  color: var(--PFM-primary) !important;
}
.light-green-bg-color {
  background-color: var(--PFM-secondary) !important;
}
.light-color-bg {
  background-color: var(--PFM-backdrop-bg-shadow);
}
.p-color {
  color: var(--PFM-header-color) !important;
}

/*
    Common button css design...
*/

.btn {
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.btn:focus,
.btn.focus {
  outline: 0;
}

.btn-light {
  background: #ededed;
  color: #000;
}

.btn-light:hover {
  background: #dbdbdb;
  color: #000;
}

.btn-primary {
  background: var(--PFM-primary);
  color: #ffffff;
}

.btn-primary:hover {
  background: var(--PFM-header-color);
  color: #ffffff;
}

/*
    COmmon form css..
*/

input,
textarea {
  font-size: 18px;
  padding: 10px 10px 10px 8px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 10px;
  border: 1px solid transparent;
}
input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
input:hover {
  border: 1px solid transparent;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid transparent;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -5px;
  font-size: 12px;
  color: #000;
  left: 11px;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

/*
    Margin common class
*/

.mr-1 {
  margin-right: 8px;
}
.ml-1 {
  margin-left: 8px;
}
.ml-2 {
  margin-left: 16px;
}
.ml-3 {
  margin-left: 24px;
}

/*
    Modal css...
*/

.modal-bottom-action {
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--PFM-main-bg-color);
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.modal-action-group {
  margin: 0.5em;
}
